@import '_variables';

p {
  color: honeydew;

  &.content {
    text-decoration: underline;
  }
}

@mixin header-styles {
  font-size: 12px;
  text-decoration: underline;
}

.my-header {
  @include header-styles();
}

@mixin mixin-args($param) {
  font-size: $param * 1px;
  line-height: $param * 2px;
}

.mixin {
  @include mixin-args(25);
}

.text-center {
  text-align: center;
}

.header {
  @extend .text-center;
  color: green;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
} 

body {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: darkgoldenrod;
}

footer {
  height: 30px;
  background-color: rebeccapurple;
}

section {
  border: $border;
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;

  div {
    height: 50px;
    width: 3rem;
    margin: 10px;
    line-height: 50px;
    min-width: 2.5rem;
    max-width: 60px;
    background-color: chartreuse;
    text-align: center;
    display: inline-block;

    p {
      color: yellow;
    }
  }
}
